alembic==1.16.5
bcrypt==4.0.1
cryptography==46.0.5
fastapi==0.135.1
httpx==0.28.1
lark-oapi==1.7.2
PyJWT==2.12.1
PyMySQL==1.1.2
pydantic-settings==2.13.1
pytest==9.0.2
SQLAlchemy==2.0.48
sqlglot==27.29.0
uvicorn[standard]==0.41.0
